* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --azul-ceitel: #2d2f7c;
  --azul-secundario: #363895;
  --azul-terc: #242663;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.subtitulo {
  font-size: 1.5rem;
  font-family: var(--font-family-sans-serif);
}

.cabecalho {
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: var(--azul-ceitel);
  font-size: 28px;
  padding: 0.1em;
  height: 1.2em;
  /* justify-content: space-between; */
}

.cabecalho__logo {
  flex: 0 0 auto;
  height: 100%;
  width: auto;
  object-fit: contain;
  margin-right: 0.5em;
}

.cabecalho__texto {
  color: var(--white);
  font-family: var(--font-family-sans-serif);
  font-size: 24px;
  white-space: nowrap;
  flex: 0 0 auto;
  text-align: center;
}
.cabecalho__selecao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
.cabecalho__seletor {
  border-radius: 3px;
  border: 1px solid var(--azul-terc);
  height: 80%;
  font-family: var(--font-family-sans-serif);
  font-size: 16px;
  text-align: left;
  margin-right: 2em;
}
.cabecalho__seletor::backdrop {
  border: 1px solid var(--light);
}
.cabecalho__button {
  width: 8em;
  height: 88%;
  border-radius: 6px;
  background-color: var(--azul-terc);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: var(--white);
  border: 1px solid var(--light);
  margin-right: 1em;
}

.botao__pesquisar {
  margin-left: 3em;
  height: 1.8em;
  width: 180px;
  border-radius: 4px;
  background-color: var(--gray);
  color: var(--dark);
  border: var(--gray) 2px;
}

.principal__campo__resultado {
  margin: 1em;
  text-align: center;
}
.lista__respostas__cidades {
}
.lista__respostas {
  display: flex;
  flex-direction: column;
  position: center;
  text-align: justify;
  padding: 0 6em;
}
.item-resultado {
  margin: solid 2px var(--indigo);
  color: var(--dark);
  font-family: var(--font-family-monospace);
  box-sizing: border-box;
  text-align: inherit;
}

footer {
  text-align: center;
  background-color: var(--azul-ceitel);
  font-size: 11px;
  color: var(--white);
  width: 100vw;
  position: fixed; /* Garante que a posição é fixa no final da página*/
  bottom: 0; /* Alinha ao final da página */
}
